@model List<MvcApplication1.Models.Table>
@{
    ViewBag.Title = "Message";
    Layout = "~/Views/shared/_admin.cshtml";
}


                <div class="row">
                    <div class="col-md-12">
                     <h2>Messages Panel</h2>   
                        <h5>Welcome  , Love to see you back. </h5>
                       
                    </div>
                </div>
                 <!-- /. ROW  -->
                 <hr />
               
            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             Advanced Tables
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <colgroup>
                                <col span="1" style="width: 10%;">
                                <col span="1" style="width: 10%;">
                                <col span="1" style="width: 15%;">
                                <col span="1" style="width: 65%;">
                                 </colgroup>
                                    <thead>
                                        
                                        <tr>

                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Type(s)</th>
                                            <th >Message</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="odd gradeX">
                                            
                                           @foreach (var s in Model)
                                           {
                                               <tr>
                                               <td>@s.name</td>
                                               <td>@s.email</td>
                                               <td>@s.subject</td>
                                               <td>@s.message</td>
                                                   </tr>
                                               
                                           }
                                            
                                        </tr>
                                      
  
              
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>
