@{
    ViewBag.Title = "Election";
    Layout = "~/Views/shared/_layout.cshtml";
}


<!DOCTYPE html>
<html>	
<head>
<title>Levy Flat Registration Form Flat Responsive Widget Template  : w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<meta name="keywords" content="Cofrestru Registration Form Responsive Templates, Iphone Widget Template, Smartphone login forms,Login form, Widget Template, Responsive Templates, a Ipad 404 Templates, Flat Responsive Templates" />
<link href="~/css/electionstyle.css" rel='stylesheet' type='text/css' />
<!--webfonts-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,800,400' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Marvel:400,700' rel='stylesheet' type='text/css'>
<!--//webfonts-->
</head>
<body>
	<h1>Election Registration Form</h1>
		<div class="registration">
			<h2>Registration Form</h2>				
					<form method="post" action="~/Default1/addElection">
						<br><div class="form-info">
						<input type="text" class="text" name="name" value="Election Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Election Name';}" >
						<input type="text" class="text" name="description" value="short description" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'short description';}" >
						
					    </div>
					    <input type="submit" value="REGISTER">
					</form>
                   <a href="~/Default1/ShowElections">Click to Cast Vote</a>
					
							<div class="clear"> </div>
		</div>
<div class="copy-rights"
			</div>

</body>
</html>
