@{
    ViewBag.Title = "password";
    Layout = "~/Views/shared/_layout.cshtml";
}

<!DOCTYPE html>
<html>	
<head>
<title>Levy Flat Registration Form Flat Responsive Widget Template  : w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<meta name="keywords" content="Cofrestru Registration Form Responsive Templates, Iphone Widget Template, Smartphone login forms,Login form, Widget Template, Responsive Templates, a Ipad 404 Templates, Flat Responsive Templates" />
<link href="~/css/electionstyle.css" rel='stylesheet' type='text/css' />
<!--webfonts-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,800,400' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Marvel:400,700' rel='stylesheet' type='text/css'>
<!--//webfonts-->

</head>
<body>
	<h1> Secure your account</h1>
		<div class="registration">
			<h2>Update password</h2>	
 <form role="form" action="~/Default1/password" method="post">
<br/>
                                       <div class="form-group input-group">
                                            <span class="input-group-addon"><i class="fa fa-lock"  ></i></span>
                                            <input type="password" name="old" class="form-control" placeholder="Enter Old Password" />
                                        </div>
                                     
                                      <div class="form-group input-group">
                                            <span class="input-group-addon"><i class="fa fa-lock"  ></i></span>
                                            <input type="password" name="new1" class="form-control" placeholder="Enter New Password" />
                                        </div>
                                     <div class="form-group input-group">
                                            <span class="input-group-addon"><i class="fa fa-lock"  ></i></span>
                                            <input type="password" name="new2" class="form-control" placeholder="Retype New Password" />
                                        </div>
                                     
                                     <input type="submit" class="btn btn-success " value="update" />
                                    <hr />
                                    </form></div>
</body>
</html>
