@{
    ViewBag.Title = "SelectedElection";
    Layout = "~/Views/shared/_layout.cshtml";
}


<!DOCTYPE html>
<html>	
<head>
<title>Levy Flat Registration Form Flat Responsive Widget Template  : w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<meta name="keywords" content="Cofrestru Registration Form Responsive Templates, Iphone Widget Template, Smartphone login forms,Login form, Widget Template, Responsive Templates, a Ipad 404 Templates, Flat Responsive Templates" />
<link href="~/css/electionstyle.css" rel='stylesheet' type='text/css' />
<!--webfonts-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,800,400' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Marvel:400,700' rel='stylesheet' type='text/css'>
<!--//webfonts-->

<script src="http://code.jquery.com/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
    


</script>
    <style>
        .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 16px;
    cursor: pointer;
}
        </style>


</head>
<body>
	<h1> Selected Election</h1>
		<div class="registration1">
			<h2>selected</h2>				
				
            <form ><br><br><br>
                
                <textarea cols="90" rows="10" readonly="readonly" name="des"  >@ViewBag.election :@ViewBag.name &#13;&#10; @ViewBag.desc        </textarea>
                <br><br><a class="button" href="~/Default1/vote">Cast vote</a>
                    
            </form><br>
            
                    
					
							<div class="clear"> </div>
		</div>
<div class="copy-rights">
			</div>

</body>
</html>

