
<!DOCTYPE HTML>
<html>
<head>
<title>Forgot Password</title>
<link href="~/css/password.css" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="Reset Password Form Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!--google fonts-->
<link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
</head>
<body>
<!--element start here-->
<div class="elelment">
	<h2>Forgot Password Form</h2>
	<div class="element-main">
		<h1>Forgot Password</h1>
		<p> Enter your email ID your password will received there.</p>
		<form action="~/Home/fpassword" method="post">
			<input type="text" name="mail" value="Your e-mail address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your e-mail address';}">
			<input type="submit" value="mail me Password">
		</form>
	</div>
</div>
    @ViewBag.pass
<div class="copy-right">
			<p>Online voting system by mohsinfort.Receive password by mail</p>
</div>


</body>
</html>
